<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAL.Properties.Settings.Programa01ConnectionString"
            connectionString="Data Source=LOCALHOST;Initial Catalog=Programa01;Persist Security Info=True;User ID=sa;Password=307560"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>